---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Proyectos'>
    <main class="flex flex-col min-h-screen">
        <h1 class="text-5xl font-bold mb-12">Proyectos</h1>
        <div class="badge badge-accent">Próximamente</div>
    </main>
</Layout>