---
import Layout from "../layouts/Layout.astro";
import LinkRightExternalLinkIcon from "../components/LinkRightExternalLinkIcon.astro";
import Gallery from "../components/react/Gallery/Gallery.tsx";
import portafolioImages from "../components/react/Gallery/portafolioImages.ts";
---

<Layout title="Proyectos">
    <main transition:animate="slide">
        <h1 class="text-5xl font-bold mb-12 ml-2">Proyectos</h1>
        <div class="space-y-3">
            <div class="collapse bg-base-200 animate-fade-down animate-duration-2000 animate-delay-100">
                <input checked type="checkbox" />
                <div class="collapse-title text-xl font-medium">
                    <div class="flex justify-between w-full item">
                        <div class="flex items-center">
                            <div class="badge badge-primary mr-2"></div>
                             <h1>Portafolio</h1>
                        </div>
                        <div class="badge badge-primary">Producción</div>
                    </div>
                </div>
                <div class="flex collapse-content">
                    <div
                        class="w-full rounded-lg mx-auto h-96 overflow-y-scroll scrollbar:!w-1.5 scrollbar:!h-1.5 scrollbar-track:!bg-slate-100 scrollbar-thumb:!rounded scrollbar-thumb:!bg-slate-300 bg-cover bg-left-top mt-4 shadow-lg"
                        style="background-image:url('/proyectos/portafolio/pagina_principal.png'); background-position: center -80px;"
                    >
                        <div class="mt-60">
                            <div class="bg-base-200 p-4 sm:p-8">
                                <div
                                    class="font-inter font-extrabold text-2xl tracking-tight"
                                >
                                    Mi portafolio personal
                                </div>
                                <p class="mt-4 leading-7 base-content">
                                    Este es mi portafolio personal, justamente el que
                                    estas visualizando. Aquí iré publicando mis
                                    últimos proyectos, así como las tecnologías con
                                    las que trabajo y mi currículum personal. Está
                                    desarrollado con <LinkRightExternalLinkIcon
                                        url={"https://astro.build/"}
                                        >Astro Framework</LinkRightExternalLinkIcon
                                    >, <LinkRightExternalLinkIcon
                                        url="https://react.dev/"
                                        >React.JS</LinkRightExternalLinkIcon
                                    >, <LinkRightExternalLinkIcon
                                        url="https://www.typescriptlang.org/"
                                        >TypeScript</LinkRightExternalLinkIcon
                                    >, <LinkRightExternalLinkIcon
                                        url="https://tailwindcss.com/"
                                        >TailwindCSS</LinkRightExternalLinkIcon
                                    > y <LinkRightExternalLinkIcon
                                        url="https://daisyui.com/"
                                        >DaisyUI</LinkRightExternalLinkIcon
                                    >
                                    ¡Gracias por visitarlo!
                                </p>
                                <Gallery slides={portafolioImages} client:only="react" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collapse bg-base-200 animate-fade-down animate-duration-2000 animate-delay-300">
                <input type="checkbox" />
                <div class="collapse-title text-xl font-medium">

                    
                    <div class="flex justify-between w-full item">
                        <div class="flex items-center">
                            <div class="badge badge-warning mr-2"></div>
                             <h1>Larafy front-end</h1>
                        </div>
                        <div class="badge badge-warning">Próximamente</div>
                    </div>
                </div>
                <div class="flex collapse-content">
                    <div
                        class="w-full rounded-lg mx-auto h-96 overflow-y-scroll scrollbar:!w-1.5 scrollbar:!h-1.5 scrollbar-track:!bg-slate-100 scrollbar-thumb:!rounded scrollbar-thumb:!bg-slate-300 bg-cover bg-left-top mt-4 shadow-lg"
                        style="background-image:url('/proyectos/larafy/larafy-front.jpeg'); background-position: center -80px;"
                    >
                        <div class="mt-60">
                            <div class="bg-base-200 p-4 sm:p-8">
                                <div
                                    class="font-inter font-extrabold text-2xl tracking-tight"
                                >
                                    Larafy front-end
                                </div>
                                <p class="mt-4 leading-7 base-content">
                                    Interfaz gráfica construida con <LinkRightExternalLinkIcon
                                        url={"https://es.react.dev/"}
                                    >
                                        React JS
                                    </LinkRightExternalLinkIcon> y <LinkRightExternalLinkIcon
                                        url="https://tailwindcss.com/"
                                    >
                                        Tailwind CSS
                                    </LinkRightExternalLinkIcon> con la que se consumirá
                                    la <LinkRightExternalLinkIcon
                                        url="https://github.com/romo2613/api-larafy"
                                    >
                                        API de Larafy
                                    </LinkRightExternalLinkIcon>. Desde aquí se
                                    podrá iniciar sesión con nuestro usuario,
                                    gestionar usuarios, roles, directorios
                                    multimedia, álbumes, etc... Una vez finalizadas
                                    algunas estructuras básicas de la API comenzaré
                                    a desarrollar esto.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collapse bg-base-200 animate-fade-down animate-duration-2000 animate-delay-[600ms]">
                <input type="checkbox" />
                <div class="collapse-title text-xl font-medium">
                    <div class="flex justify-between w-full item">
                        <div class="flex items-center">
                            <div class="badge badge-secondary mr-2"></div>
                             <h1>Larafy back-end</h1>
                        </div>
                        <div class="badge badge-secondary">Desarrollo</div>
                    </div>
                </div>
                <div class="flex collapse-content">
                    <div
                        class="w-full rounded-lg mx-auto h-96 overflow-y-scroll scrollbar:!w-1.5 scrollbar:!h-1.5 scrollbar-track:!bg-slate-100 scrollbar-thumb:!rounded scrollbar-thumb:!bg-slate-300 bg-cover bg-left-top mt-4 shadow-lg"
                        style="background-image:url('/proyectos/larafy/larafy-back.jpeg'); background-position: center -80px;"
                    >
                        <div class="mt-60">
                            <div class="bg-base-200 p-4 sm:p-8">
                                <div
                                    class="font-inter font-extrabold text-2xl tracking-tight"
                                >
                                    Larafy back-end
                                </div>
                                <p class="mt-4 leading-7 base-content">
                                    Se trata de una <span class="font-bold"
                                        >API</span
                                    > creada con <LinkRightExternalLinkIcon
                                        url={"https://laravel.com/"}
                                    >
                                        Laravel 10
                                    </LinkRightExternalLinkIcon> cuya finalidad es desplegar
                                    un servidor de gestión de archivos multimedia. Principalmente
                                    está orientada a música y videoclips musicales, en
                                    esencia una especie de Spotify privado con gestión
                                    de ficheros y usuarios. En este proyecto estoy aplicando
                                    todos mis conocimientos de <span
                                        class="font-bold"
                                        >arquitectura hexagonal</span
                                    >
                                    y <span class="font-bold"
                                        >Domain-Driven-Design (DDD)</span
                                    >.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
   
</Layout>
