---
interface Props {
    img: string
}

const { img } = Astro.props
---
<div class="card card-side bg-base-100 shadow-xl">
    <div class="flex-col lg:flex">
        <figure class="w-full lg:w-1/5 p-4">
            <img
                src={img}
                alt={img}
            />
        </figure>
        <div class="card-body w-full lg:w-4/5 ">
            <slot />
        </div>
    </div>
</div>
