<style>
    @tailwind utilities;

    @keyframes marquee {
        0% {
            left: 0;
        }
        100% {
            left: -100%;
        }
    }

    .animate-marquee {
        animation: marquee 15s linear infinite;
    }
</style>

<div class="relative overflow-hidden h-5">
    <div class="absolute w-full flex animate-marquee space-x-0">
        <div class="flex-none w-full">
            <slot />
        </div>
        <div class="flex-none w-full">
            <slot />
        </div>
    </div>
</div>
