---
import IconAlertTriangle from "../components/icons/IconAlertTriangle.astro"
---

<button class="absolute bottom-0 left-0 md:bottom-1 md:left-1 btn btn-accent" onclick="my_modal_1.showModal()">
  <div class="flex items-center space-x-1">
    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor" class="icon icon-tabler icons-tabler-outline icon-tabler-alert-triangle"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 9v4" /><path d="M10.363 3.591l-8.106 13.534a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636 -2.87l-8.106 -13.536a1.914 1.914 0 0 0 -3.274 0z" /><path d="M12 16h.01" /></svg>
    <div>
        En desarrollo
      </div>
  </div>
</button>
<dialog id="my_modal_1" class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">¡Hola!</h3>
    <div class="flex justify-center w-full text-accent h-14">
      <IconAlertTriangle/>
    </div>
    <p class="py-4">Esta página esta en desarrollo, podría faltar información o contener ciertos bugs.</p>
    <div class="modal-action">
      <form method="dialog">
        <!-- if there is a button in form, it will close the modal -->
        <button class="btn btn-primary">¡Lo entiendo!</button>
      </form>
    </div>
  </div>
</dialog>