---
import ThemeSelector from '../components/ThemeSelector.jsx'
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" data-theme="synthwave">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Javier Romero Desarrollador web" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
<<<<<<< HEAD
		<meta property="og:title" content="Javier Romero | Full Stack Developer">
		<meta property="og:description" content="Esta es mi página personal donde encontrarás información sobre mí perfil profesional.">
		<meta property="og:image" content="/foto-perfil.jpg">
  		<meta property="og:url" content="https://romerojavier.dev">
		<ViewTransitions />
		<title>{title}</title>
	</head>
	<body>
=======
		<!-- <ViewTransitions/> -->
		<title>{title}</title>
	</head>
	<body>
		<!-- TODO:las web trasnitions genera errores en el marquee al volver a la pagina inicial-->

>>>>>>> d5453a66365e140b3ecfbb61ac2a7157cb515d7b
		<div class="drawer lg:drawer-open">
			<input id="my-drawer-3" type="checkbox" class="drawer-toggle" />

			<div class="drawer-content flex flex-col lg:m-16">
				<!-- Navbar -->
				<div class="w-full navbar bg-base-300 lg:hidden sticky top-0 z-10">
					<div class="navbar-start flex lg:hidden">
						<label
							for="my-drawer-3"
							aria-label="open sidebar"
							class="btn btn-square btn-ghost"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								fill="none"
								viewBox="0 0 24 24"
								class="inline-block w-6 h-6 stroke-current"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M4 6h16M4 12h16M4 18h16"
								>
								</path>
							</svg>
						</label>
					</div>
					<a href="/" class="navbar-center text-2xl">
						⚡️Javier Romero⚡️
					</a>
					<div class="navbar-end">
						<ThemeSelector></ThemeSelector>
					</div>
				</div>
				<!-- Page content here -->
				<div class="absolute top-2 right-0 hidden lg:block">
					<ThemeSelector></ThemeSelector>
				</div>

				<div class="p-2 md:p-10 z-0">
					<slot />
					
				</div>
				<footer class="grid justify-items-center  md:pt-12 p-10 md:p-0">
					<div>
						© 2024 Javier Romero
					</div>
					<div class="grid grid-cols-1 md:grid-cols-2 justify-items-center md:justify-items-start pl-0 md:pl-10">
						<div>
							Desarrollado por Javier Romero⚡️
						</div>
						<div>
							usando Astro Framework 🚀
						</div>
					</div>
					
				</footer>
			</div>
			<div class="drawer-side">
				<label
					for="my-drawer-3"
					aria-label="close sidebar"
					class="drawer-overlay"
				>
				</label>
				<div
					class="menu p-4 pt-14 w-80 min-h-full bg-base-200 text-xl space-y-3 z-10"
				>
					<div class="avatar flex justify-center my-5">
						<div
							class="w-24 rounded-full ring ring-indigo-500 ring-offset-base-100 ring-offset-2"
						>
							<img src="/foto-perfil.jpg" />
						</div>
					</div>
					<div>
						<ul>
							<li>
								<a id="/" href="/">Inicio</a>
							</li>
							<li>
								<a id="cv" href="/cv">CV</a>
							</li>
							<li>
								<a id="proyectos" href="/proyectos">Proyectos</a
								>
							</li>
							<li>
								<a href="mailto:hola@romerojavier.dev"
									>Contacto</a
								>
							</li>
						</ul>
					</div>
				</div>
				<!-- <ModalDevWarning/> -->

			</div>

		</div>

	</body>
</html>
../components/ThemeSelector.jsx